body {
    background: linear-gradient(180deg, rgb(55, 48, 169) 0%, rgba(149,218,239,1) 100%);
    width: 800px;
    height: 915px;
}

#deknop { 
    background-color: rgb(148, 116, 199);
    width: 100px;
    height: 25px;
    position: relative;
    left: 0px;
    bottom: -0px;
    border-radius: 10%;
}

#ei1 {
    width: 0px;
    height: 0px;
    position: relative;
    left: 635px;
    bottom: -300px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 400px solid rgb(128, 88, 61);
    animation: eilandkut 10s infinite;
    z-index: 2;
}

#ei2 {
    width: 0px;
    height: 0px;
    position: relative;
    left: -125px;
    bottom: 350px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top:  250px solid rgb(95, 73, 57);
    z-index: 2;
}

#ei3 {
    background: linear-gradient(180deg, rgb(70, 128, 30) 0%,rgb(43, 84, 16) 100%);
    width: 400px;
    height: 50px;
    position: relative;
    left: -200px;
    bottom: 325px;
    border-radius: 20px;
    z-index: 2;
}

#ei5 {
    width: 0px;
    height: 0px;
    position: relative;
    left: 45px;
    bottom: 150px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom:  150px solid rgb(58, 57, 56);
    z-index: 2;
}

#ei4 {
    width: 0px;
    height: 0px;
    position: relative;
    left: -15px;
    bottom: -40px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom:  110px solid rgb(90, 87, 85);
    z-index: 2;
}

#ei6 {
    background-color:rgb(106, 72, 44);
    width: 10px;
    height: 50px;
    position: relative;
    left: 75px;
    bottom: -65px;
    border-radius: 20px;
    z-index: 3;
}

#ei7 {
    background-color:rgb(44, 106, 57);
    width: 40px;
    height: 40px;
    position: relative;
    left: -14.5px;
    bottom:15px;
    border-radius: 20px;
    z-index: 3;
}

#ei8 {
    background-color:rgb(106, 72, 44);
    width: 10px;
    height: 50px;
    position: relative;
    left: 15px;
    bottom: -55px;
    border-radius: 20px;
    z-index: 3;
}

#ei9 {
    background-color:rgb(55, 95, 155);
    width: 20px;
    height: 150px;
    position: relative;
    left: 75px;
    bottom: -60px;
    border-radius: 5px;
    z-index: 2;
}

#ei10 {
    width: 0px;
    height: 0px;
    position: relative;
    left: -275px;
    bottom: 80px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom:  80px solid rgb(91, 89, 89);
}
#ei11 {
    width: 0px;
    height: 0px;
    position: relative;
    left: 185px;
    bottom: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom:  80px solid rgb(155, 152, 152);
}

#ei12 {
    width: 0px;
    height: 0px;
    position: relative;
    left: -20px;
    bottom: 20px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom:  100px solid rgb(83, 82, 82);
}

#dezonreal {
    background: rgb(255, 255, 1);
    width: 150px;
    height: 150px;
    position: relative;
    left: 1500px;
    bottom: -1px;
    border-radius: 50%;
    box-shadow: 0 0 100px white;
}

#kaas1 {
    background: rgb(255, 255, 1);
    width: 25px;
    height: 25px;
    position: relative;
    left: 50px;
    bottom: -46px;
    border-radius: 50%;
}

#kaas2 {
    background: rgb(255, 255, 1);
    width: 25px;
    height: 25px;
    position: relative;
    left: 50px;
    bottom: -46px;
    border-radius: 50%;
}

#kaas3 {
    background: rgb(255, 255, 1);
    width: 25px;
    height: 25px;
    position: relative;
    left: 12px;
    bottom: 40px;
    border-radius: 50%;
}

#kaas4 {
    background: rgb(255, 255, 1);
    width: 25px;
    height: 25px;
    position: relative;
    left: -60px;
    bottom: -40px;
    border-radius: 50%;
}
#kaas5 {
    background: rgb(255, 255, 1);
    width: 25px;
    height: 25px;
    position: relative;
    left: -20px;
    bottom: 15px;
    border-radius: 50%;
}

#wolkding1 {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: 40px;
    bottom: 300px;
    border-radius: 50%;
    animation: wolk 8s infinite;
}

#wolkding2 {
    background-color: rgb(255, 255, 255);
    width: 125px;
    height: 125px;
    position: relative;
    left:30px;
    bottom: 25px;
    border-radius: 50%;
}

#wolkding3 {
    background-color:rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: 50px;
    bottom: -25px;
    border-radius: 50%;
}

#wolkding4 {
    background-color:rgb(255, 255, 255);
    width: 225px;
    height: 50px;
    position: relative;
    left: -100px;
    bottom: -55px;
    border-radius: 75px;
}

#wolkdingnaarechts {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: 450px;
    bottom: -250px;
    border-radius: 50%;
    z-index: 1;
}

#wolkdingnaarbenedenrechts {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: -275px;
    bottom: 250px;
    border-radius: 50%;
    z-index: 3;
}

#wolkdingnaarbovenrechts {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: 500px;
    bottom: 305px;
    border-radius: 50%;
}

#wolkdingnaarbeneden {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    position: relative;
    left: -1350px;
    bottom: -650px;
    border-radius: 50%;
}

@keyframes wolk {
    from{left: 2050px}
    to{left: -1950px}
}

@keyframes eilandkut {
    0% {bottom: -300px}
    50% {bottom: -250px}
    10% {bottom: -300px}
}
